<style>
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
</style>
<!-- novalidate: 禁止原生浏览器上表单验证 -->
<form [formGroup]="formModel" (ngSubmit)="onSearch()" novalidate>
  <br/>
  <div class="form-group" [class.has-error]="formModel.hasError('minlength', 'title')">
    <label for="title">Product title:</label>
    <input id="title"
           placeholder="Title"
           class="form-control"
           type="text"
           formControlName="title"
           minlength="3">
    <!-- 重要: help-block not work。所以在search.css文件中，重新写了一个help-block式样 -->
    <span class="help-block"
          [hidden]="!formModel.hasError('minlength', 'title')">
      Type at least 3 characters
    </span>
  </div>

  <br/>
  <div class="form-group" [class.has-error]="formModel.hasError('positivenumber', 'price')">
  <label for="price">Product price:</label>
  <input id="price"
        placeholder="Price"
        class="form-control"
        type="number"
        step="any"
        min="0"
        formControlName="price">
  <span class="help-block"
      [hidden]="!formModel.hasError('positivenumber', 'price')">
  Price is not a positive number
  </span>
  </div>

  <br/>
  <div class="form-group">
    <label for="category">Product category:</label>
    <select id="category"
            class="form-control"
            formControlName="category">
      <option value="-1">All categories</option>
      <option *ngFor="let c of categories"
              [value]="c">{{c}}</option>
    </select>
  </div>
  <br/>
  <div class="form-group">
    <!-- 按钮长度最宽设定 col-12 mx-auto -->
    <button type="submit" class="btn btn-primary btn-block col-12 mx-auto">检索</button>
  </div>
</form>

