<div class="row p-5 bg-primary text-white">
    <h1>这是一个Angular(Ver 14.1.0) +  Bootstrap(Ver 5.2.0) 开发出来的Web页面</h1>
    <p>通过定义组件@Component、模块@NgModule和指令@Directive，构建在线拍卖应用程序。</p>
 </div>
 
<!-- 导航区域 -->
<auction-navbar></auction-navbar>

<div class="container">
    <div class="row">
        <!-- Left column contains only search form the style col-md-3 comes from
            Twitter Bootstrap grid system
        -->
        <div class="col-md-3">
            <!-- 左边查询区域 -->
            <auction-search></auction-search>
        </div>

        <!--
            Right column which is the main area of the page contains two rows (as per Twitter Bootstrap):
            1. First one keeps a carousel with featured products
            2. Second one has a flexible grid with products.
        -->
        <div class="col-md-9">
            <br/>
            <!-- 右边轮播和图片显示区域 -->
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <auction-carousel></auction-carousel>
                </div>
            </div>
            <!-- 产品grid表示区，使用 -->
            <div class="row">
                <div *ngFor = "let prod of products" class="col-sm-4 col-lg-4 col-md-4">
                    <div class="auction-product-item">
                        <auction-product-item [product]="prod" [img]="prod.img" [rating]="prod.rating"></auction-product-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<auction-footer></auction-footer>

<style>
    .auction-product-item:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  </style>

